@model GeoSpatial.Models.GeoTest

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>
<p>
    Enter a Source Location Name, Latitude, and Longitude in decimal format,
    then find the distances to Cocoa Beach and Central Florida locations.
    Using Google Maps can give you the Latitude and Longitude coordinates for your source location.
</p>

@* Form for Create New Source Location *@
<div class="form-horizontal">
    <h4>Source Location</h4>

    <form method="post" id="FindDistancesForm" action="/Home/Locations">
        <hr />
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @id = "Location", @maxlength = "100", @class = "form-control" } })
            </div>
            <div id="LocationError" class="col-md-7 text-danger text-left" style="display:none;font-size:x-large;">*</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @id = "Latitude", @maxlength = "50", @class = "form-control" } })
            </div>
            <div id="LatitudeError" class="col-md-7 text-danger text-left" style="display:none;font-size:x-large;">*</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @id = "Longitude", @maxlength = "50", @class = "form-control" } })
            </div>
            <div id="LongitudeError" class="col-md-7 text-danger text-left" style="display:none;font-size:x-large;">*</div>
        </div>

        @* Div Container for Validation Messages *@
        <div class="col-md-12 text-danger" id="ValidationMessage">
        </div>

        <br />
        <br />

    </form>

    @* Form Submit Button, Placed Outside Form So Form Can Be Submitted with JQuery Javascript *@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="FindBTN" value="Find" class="btn btn-primary">Find Distances</button>
        </div>
    </div>
</div>

<br />
<br />
<br />

@* JQuery Code for Form Validation *@
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // Location
            $("#Location").focusout(function () {
                if ($("#Location").val() != "") {
                    $("#LocationError").hide();
                }
                else {
                    $("#LocationError").show();
                }
            });

            // Latitude
            $("#Latitude").focusout(function () {
                if (($("#Latitude").val() != "") &&
                    (!isNaN($("#Latitude").val())) &&
                    (($("#Latitude").val() < 90) && ($("#Latitude").val() > -90)))
                {
                    $("#LatitudeError").hide();
                }
                else {
                    $("#LatitudeError").show();
                }
            });

            // Longitude
            $("#Longitude").focusout(function () {
                if (($("#Longitude").val() != "") &&
                    (!isNaN($("#Longitude").val())) &&
                    (($("#Longitude").val() < 180) && ($("#Longitude").val() > -180)))
                {
                    $("#LongitudeError").hide();
                }
                else {
                    $("#LongitudeError").show();
                }
            });

            $("#FindBTN").click(function () {

                var formValidated = true;
                var validationMessage = "Error: ";

                // Location
                if ($("#Location").val().trim() == "") {
                    formValidated = false;
                    $("#LocationError").show();
                    validationMessage = validationMessage + "Location Required ";
                }

                // Latitude
                var latitude = $("#Latitude").val().trim();

                // test for empty string
                if (latitude == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Latitude Required ";
                }

                // test for valid number
                if (isNaN(latitude)) {
                    formValidated = false;
                    validationMessage = validationMessage + "Latitude Not a Number ";
                }

                // test for valid range, -90 to +90
                if ((latitude > 90) || (latitude < -90)) {
                    formValidated = false;
                    validationMessage = validationMessage + "Latitude Invalid Range, Less than -90 or Greater than +90 ";
                }

                // Longitude
                var longitude = $("#Longitude").val().trim();

                // test for empty string
                if (longitude == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Longitude Required ";
                }

                // test for valid number
                if (isNaN(longitude)) {
                    formValidated = false;
                    validationMessage = validationMessage + "Longitude Not a Number ";
                }

                // test for valid range, -180 to +180
                if ((longitude > 180) || (longitude < -180)) {
                    formValidated = false;
                    validationMessage = validationMessage + "Longitude Invalid Range, Less than -180 or Greater than +180 ";
                }

                // process form validation, submit form if no errors
                if (!formValidated) {
                    $("#ValidationMessage").text(validationMessage);
                } else {
                    $("#FindDistancesForm").submit();
                }

            });
        });
    </script>
}